body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial;
}
h1{
    text-align: center;
}
.feed {
    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.video-card {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

video {
    height: 70%;
    border-radius: 10px;
}